@import '~@fluentui/react/dist/sass/References.scss';

// css variable
$defaultFontFamily: 'Segoe UI', sans-serif;


.rectangleLayout,
.rectangleLayout * {
    font-family: 'customFontFamily', $defaultFontFamily;
    box-sizing: border-box;
}

.allItemsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.itemContainer {
    height: 50px;
    width: 47%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
    margin: 7px 5px 4px 5px;
    cursor: pointer;
    transition: all .5s;
    background-color: var(--bgColor);
    align-items: center;
}

.itemTitle {
    font-size: 16px;
    font-family: 'customFontFamily', $defaultFontFamily;
    margin: 0;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #ffffff;
    width: inherit;
    line-height: normal;
    padding-left: 10px;
}

.defaultImage {
    width: 100%;
    height: 100%;
}

.iconContainer {
    display: flex;
    width: 28px;
    height: 28px;

    img {
        width: -webkit-fill-available;
        height: auto;
        object-fit: scale-down;
    }
}

.xl4Style {
    .itemContainer {
        width: 165px;
    }

    @media only screen and (max-width: 1024px) {
        .itemContainer {
            width: 265px !important;
        }
    }

    @media only screen and (max-width: 768px) {
        .itemContainer {
            width: 124px !important;
        }
    }

    @media only screen and (max-width: 414px) {
        .itemContainer {
            width: 42% !important;
        }
    }

    @media only screen and (max-width: 353px) {
        .itemContainer {
            width: 85% !important;
        }
    }
}

.itemContainer:hover {
    background-color: var(--bgColorOnHover) !important;
}

.quickLinks__link-grid-icon {
    height: 50px;
    width: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 0px;
    margin-bottom: 5px;
}

.xl12Style {
    .itemContainer {
        width: 125px;
    }

    @media only screen and (max-width: 1024px) {
        .itemContainer {
            width: 190px !important;
        }
    }

    @media only screen and (max-width: 768px) {
        .itemContainer {
            width: 116px !important;
        }
    }

    @media only screen and (max-width: 414px) {
        .itemContainer {
            width: 35% !important;
        }
    }

    @media only screen and (max-width: 353px) {
        .itemContainer {
            width: 80% !important;
        }
    }
}

.xl6Style {
    .itemContainer {
        width: 170px;
    }

    @media only screen and (max-width: 1280px) {
        .itemContainer {
            width: 25% !important;
        }
    }

    @media only screen and (max-width: 1024px   ) {
        .itemContainer {
            width: 44% !important;
        }
    }

    @media only screen and (max-width: 768px) {
        padding-left: 10px !important;

        .itemContainer {
            width: 46% !important;
        }
    }

    @media only screen and (max-width: 428px) {
        .itemContainer {
            width: 100px !important;
        }
    }

    @media only screen and (max-width: 375px) {
        .itemContainer {
            width: 80px !important;
        }
    }

    @media only screen and (max-width: 320px) {
        .itemContainer {
            width: 70% !important;
        }
    }
}


.xl8Style {
    .itemContainer {
        width: 230px;
    }

    @media only screen and (max-width: 1024px) {
        .itemContainer {
            width: 265px !important;
        }
    }

    @media only screen and (max-width: 768px) {
        .itemContainer {
            width: 120px !important;
        }
    }

    @media only screen and (max-width: 414px) {
        .itemContainer {
            width: 42% !important;
        }
    }

    @media only screen and (max-width: 353px) {
        .itemContainer {
            width: 85% !important;
        }
    }
}